<html>
{% load static %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=geometry"></script>
<script type="text/javascript" src="{% static "PSO-googlemaps/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "PSO-googlemaps/js/gmapsController.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "PSO-googlemaps/css/styles.css" %}">

<body>
    <h1> {{ teste }}</h1>
    <div id="map-canvas" style="height: 30%; width: 30%;"></div>
    <input type="submit" class="button" id="calc_rota" onClick="envioCoord()" value="Calcular rota">
    <div>
        <img id="mapa" src="#"></img>
    </div>
</body>
</html>